@{
    ViewBag.Title = "ForgotPassword.Mobile";
}

<link href="~/Content/screen.css" rel="stylesheet" />

@using (Html.BeginForm("changePassword", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<div class="popup-container hide" id="pop-up">
<div class="container c-p">
            <a class="close-btn" href="/"><span>&times;</span></a>
            <div class="form">
                <h2>Change Password</h2>
                <div class="error clearfix hide" id="error"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Your password does not match</div>
                <input type="password" class="input-text" placeholder="New Password" name="newPassword" id="newPassword">
                <input type="password" class="input-text" placeholder="Confirm Password" name="confirmPassword" id="confirmPassword">
                
                <div id="hidden" style="display:none"></div>
                <button class="submit" id="submit">Reset</button>
            </div>
            <div class="success-msg text-center hide" id="success">
                <p>Your password has been reset successfully.</p>
            </div>
        </div>
    </div>
    
}
<script type="text/javascript">

    $(document).ready(function () {
        $("#overlay").removeClass('hide');
        $("#pop-up").removeClass('hide');
    });

    $("#submit").click(function () {
        if (($("#newPassword").val() != $("#confirmPassword").val()) || $("#newPassword").val() == '' || $("#confirmPassword").val() == '') {
            $("#error").removeClass('hide');
            return false;
        }
    });

    
</script>
