@model AkhbaarAlYawm.DataAccess.Custom.Entities.LoginModel

@{
    ViewBag.Title = "Login.Mobile";
}

<link href="~/Content/screen.css" rel="stylesheet" />

@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

 <div class="popup-container hide" id="pop-up">
<div class="container c-p">
            <a class="close-btn" onclick="return window.history.back();"><span>&times;</span></a>
            <div class="form">
                <h2>Login</h2>
                 <div class="error clearfix" id="error" style="display:none"><i class="fa fa-exclamation-triangle" id="errText" aria-hidden="true"></i>@ViewBag.Error</div>

                @if(!string.IsNullOrEmpty(ViewBag.Error))
                {
                <div class="error clearfix" id="error"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>@ViewBag.Error</div>
                }
                <input type="email" class="input-text" placeholder="Email*" name="Email" id="Email">
                <input type="password" class="input-text" placeholder="Password*" name="Password" id="Password">
                
                <div id="hidden" style="display:none"></div>
                <button class="submit" id="submit">Login</button>
                <p>If you are not a member then</p><a href="/Account/register" style="color:blue;">Register</a>
            </div>
            @*<div class="success-msg text-center hide" id="success">
                <p>Your password has been reset successfully.</p>
            </div>*@
        </div>
     <input type="hidden" id="ReturnUrl" name="ReturnUrl" value="@Model.ReturnUrl" />
    </div>
    
    
    
}

<script type="text/javascript">

    $(document).ready(function () {
        
        $("#overlay").removeClass('hide');
        $("#pop-up").removeClass('hide');

       
    });

    $("#submit").click(function () {
        if ($("#Email").val() == '' || $("#Password").val() == '') {
            $("#error").css('display','block');
            $("#errText").text('Please make sure all required fields are filled.');
            return false;
        }

        
    });

    
</script>