@model AkhbaarAlYawm.DataAccess.Custom.Entities.UserComment

<div id="newComment">
    <div class="well">
        <span class="errorClass bg-danger" id="error" style="display: none;"></span>
        <h4>Leave a Comment:</h4>
        <form role="form">
            <div class="form-group">

                @if (Model.user != null)
                {
                    <textarea id="postcomment" class="form-control" rows="3"></textarea>
                }
                else
                {
                    <textarea class="form-control" rows="3" onclick="redirect()"></textarea>
                }
            </div>

            @if (Model.user != null)
            {
                <button type="button" class="btn btn-primary" onclick="PostCommentFunction('@Model.user.UserID', '@Model.ArticleID')">Submit</button>
            }
            else
            {
                <button type="button" class="btn btn-primary" onclick="redirect()">Submit</button>   
            }
        </form>
    </div>
</div>
<div id="renderPoPbox"></div>

<script type="text/javascript">
    function redirect() {
        window.location.href = "/Account/Login/?returnUrl=" + window.location.href;
    }
    function PostCommentFunction(UserID, ArticleID) {
        //alert("UserID is"+ UserID + "ArticleID is "+ ArticleID);
       
        if ($("#postcomment").val() == '') {
            $("#error").html('Please Enter Comment');
            $("#error").css('display', 'block');
            return false;
        }
        else {
            var id;
            if (window.location.href.indexOf("Home/Detail") > -1) {
                id = 1;
            }
            else {
                id = 2;
            }
            console.log(id);
            $.ajax({
                url: "/Comment/PostComment",
                type: "GET",
                dataType: "html",
                data: { "userId": UserID, "articleId": ArticleID, "comment": $("#postcomment").val(), "parentCommentId": 0, "commentCategoryID": id },
                success: function (data) {
                    $("#CommentList").html(data);
                }
            });
        }
    }


</script>
